html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

body { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 85%;
    background-color: #fffff8;
}